<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Weather App</title>
  <script src="./jquery.js"></script>
  <script src="./script.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container sectionCity">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <form class="form-inline">
          <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" class="form-control" id="city" placeholder="Lyon, Paris ...">
          </div> 
          <button type="submit" id="btn-valide" class="btn btn-warning">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
  <div id="content">
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <ul class="list-group">
          <li class="list-group-item"><span class="city">Lyon</span> <img class="logo-meteo" src="http://openweathermap.org/img/w/02d.png"> <span class="desc">nuageux</span> <span class="label label-warning">26 °C</span> <span class="label label-default">17 °C</span> <a href=""><span class="glyphicon glyphicon-remove-circle"></span></a></li>
          <li class="list-group-item"><span class="city">Paris</span> <img class="logo-meteo" src="http://openweathermap.org/img/w/01d.png"> <span class="desc">ciel dégagé</span> <span class="label label-warning">24.3 °C</span> <span class="label label-default">13.2 °C</span> <a href=""><span class="glyphicon glyphicon-remove-circle"></span></a></li>
          <li class="list-group-item"><span class="city">Marseille</span> <img class="logo-meteo" src="http://openweathermap.org/img/w/01d.png"> <span class="desc">ciel dégagé</span> <span class="label label-warning">22.4 °C</span> <span class="label label-default">14 °C</span> <a href=""><span class="glyphicon glyphicon-remove-circle"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
 

</body>
</html>